
* {
    box-sizing: border-box;
}

body, html, main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.swiper {

    padding: 3.2rem;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background: white;
    width: 90vh;
    height: 90vh;
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.btn-bottom, .btn-left, .btn-right, .btn-top {
    width: 1rem;
    height: 1rem;
    position: absolute;

}


.btn-top, .btn-bottom {
    border-radius: 50%;
}

.swiper-btns {
    translate: none;
    rotate: none;
    scale: none;
    outline-offset: -1px;
    border-radius: 100%;
    outline-width: 3px;
    outline-style: solid;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}


.circle-container {
    animation: rotate-around-circle 12s infinite linear;
    position: relative;
    width: 80%;
    height: 80%;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.btn-top {
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-50% - 1px));


}

.btn-right {

    top: 50%;
    right: 0;
    transform: translate(calc(50% + 1px), -50%);
}

.btn-bottom {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(50% + 1px));
}

.btn-left {
    top: 50%;
    left: 0;
    transform: translate(calc(-50% - 1px), -50%);
}


.cacao-cu-lapte {
    animation-duration: 10s;

}

.lichid {
    animation-duration: 8s;
}

.bravo-robert {
    animation-duration: 6s;
}

.sun {
    background-color: yellow;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid orange;
}

h1 {
    text-align: center;
    margin: 0;
    margin-top: 15px;
}

@keyframes rotate-around-circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes rotate-around-circle-reverse {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
}