body {
    overflow: hidden;
    background: conic-gradient(from -270deg at 75% 110%, midnightblue, lawngreen)
}


.container {
    width: 95%;
    height: 100vh;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 370px;
    margin: auto;
    border-radius: 2px;
    background: #f2f2f2;
    padding: 15px 15px 20px 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

#userInput {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 40px 5px;
    background: whitesmoke;
    text-align: right;
    direction: ltr;
    outline: none;
    border: none;
    font-size: 45px;
}

.btn {
    width: 24%;
    height: 45px;
    border-radius: 1px;
    border: none;
    outline: none;
    margin-top: 3px;
    background: whitesmoke;
    font-size: 25px;
}


.btnEqual {
    width: 99.2%;
    height: 45px;
    border-radius: 1px;
    border: none;
    outline: none;
    margin-top: 3px;
    background: whitesmoke;
    font-size: 25px;
}

.btn:hover, .btnEqual:hover {
    background-color: rgba(128,128,128,0.1);

}