* {
    font-family: "Kode Mono", monospace;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    background-image: url("background.webp");
    background-size: cover;
    background-position: center;
}

.container {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 180px;
    background-image: url("bg.png");
    background-size: cover;
    background-position: center;


}

h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    letter-spacing: 10px;
    margin-left: 15px;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 300px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color .4s ease;
}

button:hover {
    background-color: #0062CC;
}

#result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 332px;
    background-image: url("bg.png");
    background-size: cover;
    background-position: center;
    color: white;

}

.copyright i {
    color: purple;
}
